.GridSizeInput {
	display: flex;
	align-items: center;
	justify-content: center;
}

.Input {
	border: none;
	border-radius: var(--round2);
	padding: var(--space) var(--space2);
	padding-right: var(--space);
	width: 80px;
	background: var(--background-light);
	color: var(--text);
	font-weight: bold;
	appearance: none;
	color-scheme: light dark;
}

.Input:focus {
	outline: 2px solid var(--text);
}

.x {
	width: var(--space2);
	height: 2px;
	margin-left: calc(var(--space) / 2);
	margin-right: calc(var(--space) / 2);
	background: var(--background-light);
}
